@use './variables' as v;

.nav{
    position: fixed;
    width: 100%;
    padding: 1.5rem 0;
    z-index: 2;
    background-color: v.$red;

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.5rem;

        .nav__logo{
            width: 100px;
            height: auto;
    
            a{
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .nav__link{
            display: none;
            position: fixed;
            top: 5.5rem;
            width: 90%;
            background-color: v.$red;
            margin: 0 auto;
            border-radius: 0.5rem;
    
            .nav__ul{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1.5rem;
                padding: 1.7rem;
                margin: 0 auto;
                
                .nav__li{
                    padding: .25rem 0;
    
                    a{
                        color: v.$white;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }
    
            }
        }

        .nav__toggle{
            font-size: 32px;
            color: v.$white;
        
            .nav__hamburger{
                display: inline-block;
                // width: 1.6rem;
            }
    
            .nav__close{
                display: none;
            }
        }
    }
}

.swiper {
    width: 100%;
    height: 500px;
    padding-top: 86px;
    // margin-left: auto;
    // margin-right: auto;
    // overflow: hidden;

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            // margin: auto;
        }
    }
}

.main{
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;

    &__h1{
        font-size: 36px;
        margin-bottom: 35px;
    }

    &__noticias{
        display: flex;
        // align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        // flex-direction: column;
        gap: 50px;

        .noticia{
            position: relative;
            width: 350px;
            height: fit-content;
            padding: 24px 16px 48px;
            border-radius: 8px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            overflow: hidden;

            img{
                position: absolute;
                // margin-left: -16px;
                // margin-top: -32px;
                width: 100%;
                // height: 240px;
                // object-fit: cover;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }

            &__h2{
                margin-top: 240px;
                margin-bottom: 15px;
            }

            &__p{
                margin-bottom: 15px;
            }

            .noticia__button{
                position: absolute;
                right: 16px;
                padding: 8px;
                border-radius: 8px;
                background-color: v.$red;
                // color: white;
                border: none;

                a{
                    color: white;
                }
            }
        }
    }
}

.footer{
    background-color: v.$red;
    padding: 25px 0;

    &__container{
        text-align: center;

        i{
            font-size: 32px;
            margin-bottom: 8px;
        }

        .footer__p{
            color: white;
        }
    }
}

// .header{
    // padding-top: 86px;
    // height: fit-content;
// }

// @media screen and (min-width: 768px) {
//     .nav{
//         &__link{
//             margin: 0 -5%;
//         }
//     }
// }

// @media screen and (min-width: 1024px) {
//     .nav{
    
//         &__container{
//             align-items: center;
//         }

//         &__toggle{
//             display: none;

//             .nav__close{
//                 display: none;
//             }
        
//             .nav__hamburger{
//                 display: none;
//             }
//         }
    
//         &__link{
//             display: flex !important;
//             position: inherit;
//             width: max-content;
    
//             .nav__ul{
//                 flex-direction: row;
//                 padding: 0;
                
//                 .nav__li{
    
//                     a{
//                         color: v.$grayish-blue;
//                         font-weight: 700;
//                     }

//                     a:hover{
//                         color: v.$dark-blue;
//                     }
//                 }

//                 .nav__li:hover{
//                     border-bottom: 3px solid v.$lime-green;
//                 }
//             }
//         }
    
//         &__button{
//             display: inline-block;
//             width: fit-content;
//         }
//     }
// }