
.contenedor{
    width: 100%;

    .table__equipos{
        width: 100%;
        max-width: 450px;
        border-collapse: collapse;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        thead{
            th{
                text-align: center;
                vertical-align: middle;
                padding: 10px;
                border: 1px solid black;
            }
        }

        tbody{
            td{
                text-align: center;
                vertical-align: middle;
                padding: 10px;
                border: 1px solid black;
            }

            th{
                text-align: center;
                padding: 10px;
                border: 1px solid black;
            }
        }
    }
}

#contenedor-tablas{
    h3{
        text-align: center;
        font-size: 32px;
        margin-bottom: 15px;
    }

    #tablas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;

        img{
            width: 94%;
            max-width: 450px;
            margin: auto;
        }

        table{
            width: 94%;
            max-width: 450px;
            border-collapse: collapse;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            thead{
                font-size: 16px;

                background-color: black;
                color: white;

                tr{
                    th{
                        padding: 8px;
                        border: 1px solid black;
                    }
                }
            }

            &:last-child{
                margin-bottom: 25px;
            }

            tbody{
                font-size: 14px;
                
                tr{
                    td{
                        padding: 8px;
                        border: 1px solid black;
                    }
                }
            }
        }
    }
}

.defensa, .asistencia, .gol{
    text-align: center;
}

.main{

    .article__main{

        .table__equipos{
            margin: auto;
            margin-top: 50px;
        }
          

    }

    &__article{
        text-align: left;
        margin-bottom: 25px;

        .article__h2{
            margin-bottom: 15px;
        }

        .equipos{
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            text-align: center;
            justify-content: center;

            .equipo{
                max-width: 720px;
                margin: auto;
                 
                h3{
                    font-size: 24px;
                    margin-bottom: 15px;
                }

                img{
                    width: 100%;
                    border-radius: 16px;
                }
            }
        }
    }

    &__section{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: space-evenly;

        .section__article{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            max-width: 350px;
            border-radius: 8px;

            a{
                color: black;

                .article__h2{
                    padding: 15px 0;
                }

                .article__img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    min-height: 140px;
                    max-height: 220px;

                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}