
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;

    .table__equipos{
        width: 100%;
        max-width: 450px;

        thead{
            font-size: 18px;
        }

        tbody{
            td{
                padding: 8px;
            }
        }
    }
}


#contenedor-tablas{
    h3{
        text-align: center;
        font-size: 32px;
        margin-bottom: 15px;
    }

    #tablas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;

        table{
            width: 90%;
            max-width: 450px;

            thead{
                font-size: 18px;
            }

            &:last-child{
                margin-bottom: 25px;
            }

            tbody{
                tr{
                    td{
                        padding: 8px;
                    }
                }
            }
        }
    }
}

.defensa, .asistencia, .gol{
    text-align: center;
    // padding: 5px 0;
}

.main{

    .article__main{

        .table__equipos{
            // margin: auto;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
          

    }

    &__article{
        text-align: left;
        margin-bottom: 25px;

        .article__h2{
            margin-bottom: 15px;
        }
    }

    &__section{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: space-evenly;

        .section__article{
            // width: 90%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            max-width: 500px;
            border-radius: 8px;
            // padding: 10px 0 0 0;

            a{
                color: black;
                // text-decoration: none;

                .article__h2{
                    padding: 15px 0;
                }

                .article__img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    min-height: 140px;
                    max-height: 220px;

                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}