.luff{

    #tabla-equipos{
        width: 350px;
        margin: auto;

        thead{

        }

        tbody{

            .equipo{
                font-size: 20px;
                font-weight: bold;
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
    }
}


.defensa, .asistencia, .gol{
    text-align: center;
    padding: 5px 0;
}